body {
  background-color: #585858;
}

.jumbotron {
  text-align: center;
  text-decoration: underline;
  text-shadow: 4px 4px 8px #FF0000;
  color: white;
  font-weight: bolder;
  background-image: url("../images/ping.jpg");
}

.jumbotron h1 {
  position: relative;
  top: 40px;
}

h1 , h2, h3, h4 {
  font-weight: bolder;
  color: white;
}

p {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  color: white;
}

ol li {
  font-family: sans-serif;
  font-size: 15px;
  color: white;
}

label {
  color: white;
  font-size: 15px;
}

.btn {
  background-color: red;
  color: white;
  font-weight: bolder;
}
#userInput {
  color: white;
  font-weight: bold;
}

.yourresult {
  color: white;
  font-weight: bold;
}
