body {
  background: #999;
}

.container {
  margin: 0px;
}

.jumbotron {
  text-align: center;
  background-color: #F9966B;
}

.col-md-4 {
  background-color: green;
}

h1 , h2, h3, h4 {
  font-weight: bold;
}

p {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
}

ol li {
  font-family: sans-serif;
  font-size: 15px;
}
